:root {
  --white: #fff;
  
  --primary-10: #e8f7fa;
  --primary-30: #11b7db;
  --primary-50: #10A8C9;
  --primary-60: #0e97b5;
  
  --light-gray: #d7dbe2;
  --gray: #515b6c;
  
  --orange: #f2994a;
}
